#projects {
  min-height: 170vh;
  background-color: rgb(255, 255, 255);
  scroll-margin-top: 4.5rem;
}

.projects-title-container {
  min-height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
}

.projects-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  width: 95%;
  margin: auto;

}
.project-window{
  height: 55rem;
  width: 45rem;
  background-color: rgb(255, 251, 251);
  border-radius: 5%; 
  border-top: 3.8rem solid rgb(107, 106, 106);
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;

  .project-title{
    position: absolute;
    top: -33px;
    margin: auto;
    right: 20px;
    color: white;
    font-size: 2rem;
  }
  
  .red{
    top: -25px;
    left: 18px;
    background-color: #ff0000;
  }
  .yellow{
    top: -25px;
    left: 43px;
    background-color: #fafe07;
  }
  .green{
    top: -25px;
    left: 67px;
    background-color: #1efd00;

  }
  .boxes-button-container{
    position: absolute;
    bottom: 0px;
    height: 21rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 5%;
    // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    // overflow: hidden;
  }
}
//size of project images within project window
.project-images{
  height: 30rem;
  width: 45rem;
  // height: 55rem;
  // width: 45rem;
  object-fit: cover;
}

.project-boxes {
  height: 55rem;
  width: 35rem;
  background-color: rgb(255, 255, 255);
  justify-self: center;
  border-radius: 5%;
  cursor: pointer;
  
}

.project-image-container {
  height: 40rem;
  width: 35rem;
  background-size: 180%;
  background-position: cover;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.boxes-sub-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 12rem;
}

.inner-button-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}
.project-title {
  font-size: 1.3rem;
}

.project-tools-used{
  font-size: 2.1rem;
}

.project-info {
  font-size: 1.5rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  text-align: center;
}

.view-btn, .code-btn{
  background-color: #ffffff;
  border: 2px solid #212121;
  padding: 1.2rem 3rem;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  &:hover{
    box-shadow: none;
  }
}

//mobile Projects
@media only screen and (max-width: 959px) {
  #projects {
    min-height: 100vh;
  }
  
  .project-window{
    height: 45rem;
    width: 35rem;

  }
  .project-images{
    height: 20rem;
    width: 35rem;

  }
 
}

@media only screen and (max-width: 763px){
  
  .projects-title-container {
    min-height: 18vh;
    font-size: 4.5rem;
  }

  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
  }
}

@media only screen and (max-width: 406px) {
  
  .project-window{
    height: 40rem;
    width: 30rem;

    .boxes-button-container{
      height: 18rem;
    }
  }
  .project-images{
    height: 16.5rem;
    width: 30rem;
  }
}

@media only screen and (max-width: 302px){
  
  .project-window{
    height: 35rem;
    width: 25rem;

    .boxes-button-container{
      height: 18.5rem;
    }

    .project-title {
      font-size: 1.5rem;
      top: -29px;
    }
  }
  .project-images{
    height: 12rem;
    width: 25rem;
  }

  .view-btn, .code-btn{
    padding: .7rem 1.15rem;
   
  }
}