#projects {
  min-height: 150vh;
  background-color: rgb(255, 255, 255);
  //   overflow: hidden;
  //   scroll-margin-top: 20px;
  scroll-margin-top: 4.5rem;
}

.projects-title-container {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
}

.projects-container {
  height: 120vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  width: 95%;
  margin: auto;

}
.project-window{
  height: 55rem;
  width: 45rem;
  background-color: rgb(255, 251, 251);
  border-radius: 5%; 
  border-top: 3.8rem solid #323232;
  background-image: url("/images/projectsImages/Loteria\ Project\ export.png");
  background-size: 120%;
  background-position: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  
  .project-title{
    position: absolute;
    top: -33px;
    margin: auto;
    right: 20px;
    color: white;
    font-size: 2rem;
  }
  
  .red{
    top: -25px;
    left: 18px;
    background-color: #ff0000;
  }
  .yellow{
    top: -25px;
    left: 43px;
    background-color: #fafe07;
  }
  .green{
    top: -25px;
    left: 67px;
    background-color: #1efd00;

  }
  .boxes-button-container{
    position: absolute;
    bottom: 0px;
    // background-color: #323232;
    height: 21rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 5%;
    // box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    // overflow: hidden;
  }
}

.project-boxes {
  height: 55rem;
  width: 35rem;
  background-color: rgb(255, 255, 255);
  justify-self: center;
  border-radius: 5%;
  // box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  
}

.project-image-container {
  // background-image: url("/images/projects\ images/");
  height: 40rem;
  width: 35rem;
  background-size: 180%;
  background-position: cover;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  // overflow: hidden;
}

.boxes-sub-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 12rem;
}

.inner-button-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}
.project-title {
  font-size: 1.3rem;
}

.project-tools-used{
  font-size: 2.1rem;
}

.project-info {
  font-size: 1.5rem;
  padding: 3.5rem;
}

//mobile Projects
@media only screen and (max-width: 900px) {
  #projects {
    min-height: 220vh;
  }
  .project-image-container {
    height: 23rem;
    width: 23rem;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

    width: 100%;
    // margin: auto;
  }
}

@media only screen and (max-width: 415px) {
  #projects {
    min-height: 190vh;
  }
  .project-boxes {
    height: 30rem;
    width: 18rem;
  }
  .project-image-container {
    height: 18rem;
    width: 18rem;
  }

  .boxes-sub-container {
    height: 12rem;
  }
}
