#projects {
  min-height: 120vh;
  background-color: rgb(240, 240, 240);
  //   overflow: hidden;
  //   scroll-margin-top: 20px;
  scroll-margin-top: 4.5rem;
}

.projects-title-container {
  //   height: 10vh;
  //   scroll-margin-top: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  height: 5rem;
  padding-top: 3rem;
}

.projects-container {
  height: 120vh;
  //   background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  width: 85%;
  margin: auto;
}
.project-boxes {
  height: 35rem;
  width: 23rem;
  background-color: rgb(255, 255, 255);
  justify-self: center;
  border-radius: 5%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  cursor: pointer;

  //   z-index: 2;
}

.project-image-container {
  background-image: url("/images/Mountains.jpg");
  height: 23rem;
  width: 23rem;
  background-size: 150%;
  background-position: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  overflow: hidden;
}

.boxes-sub-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 12rem;
}

.project-title {
  font-size: 1.3rem;
}

.project-description {
  font-size: 0.8rem;
}

//mobile Projects
@media only screen and (max-width: 900px) {
  #projects {
    min-height: 220vh;
  }
  .project-image-container {
    height: 23rem;
    width: 23rem;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

    width: 100%;
    // margin: auto;
  }
}

@media only screen and (max-width: 415px) {
  #projects {
    min-height: 190vh;
  }
  .project-boxes {
    height: 30rem;
    width: 18rem;
  }
  .project-image-container {
    height: 18rem;
    width: 18rem;
  }

  .boxes-sub-container {
    height: 12rem;
  }
}
