#tools {
  min-height: 110vh;
  z-index: 14;
  scroll-margin-top: 6rem;
  // margin-bottom: 2.5rem;
  // overflow: auto;
}

.mac-circle{
  height: 13px;
  width: 13px;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.tools-main-container{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // background-color: #787e7f;
  
  .tools-popup-information{
    height: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .pop-up{
    background-color: #ebebeb;
    height: 50rem;
    width: 40rem;
    border-radius: 10px;
    border-top: 38px rgb(107, 106, 106) solid;
    opacity: .90;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    position: relative;
  }
  .pop-up-description{
    font-size: 2.5rem;
    padding: 3.5rem;
  }
 

  .red{
    top: -25px;
    left: 18px;
    background-color: #ff0000;
  }
  .yellow{
    top: -25px;
    left: 43px;
    background-color: #fafe07;
  }
  .green{
    top: -25px;
    left: 67px;
    background-color: #1efd00;

  }
}

.tools-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 18vh;
}
.tools-title {
  font-size: 7rem;
}
.tools-sub-title {
  font-size: 1.8rem;
}

.tools-container {
  height: 65rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 20rem);
  grid-gap: 1rem;
  flex-grow: 1;
  .circle {
    height: 15.5rem;
    width: 15.5rem;
    background-color: rgb(244, 244, 244);
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    flex-direction: column;
    cursor: pointer;
    transition: box-shadow 1s;

    &:hover {
      background: rgb(244, 244, 244);
      box-shadow: inset 0px 0px 5px #c1c1c1;
      border: none;
    }
  }
}

//images within circles

.circle-image {
  height: 5.5rem;
  width: 5.5rem;
  margin-bottom: 1rem;
}

.html {
  border: 5px solid #fc992c;
}

.css {
  border: 5px solid #0a73b7;
}
.js {
  border: 5px solid #e9c932;
}
.react {
  border: 5px solid #61dbfb;
}
.git {
  border: 5px solid #f05233;
}
.sass {
  border: 5px solid #ce649a;
}

.hide {
  opacity: 0;
  height: 0;
  transition: opacity 1s ease-in-out;
  transition: height 1s ease-in-out;
  overflow: hidden;
}
.circle:hover .hide {
  height: auto;
  opacity: 1;
}

//Tools Mobile Page
@media only screen and (max-width: 900px){
  #tools {
    // min-height: 120vh;
    margin-bottom: 3rem;
  }
  .tools-container {
    width: 39rem;
    height: 43rem;
    grid-template-rows: repeat(3, 13rem);
    
    .circle {
      height: 12rem;
      width: 12rem;
      font-size: .8rem;
    }
  }
}



@media only screen and (max-width: 760px) {
  #tools {
    min-height: 100vh;
    margin-bottom: 3rem;
  }
  .tools-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 798px){

  .tools-container {
    width: 39rem;
    height: 43rem;
    grid-template-rows: repeat(3, 13rem);
    
  
    .circle {
      height: 12rem;
      width: 12rem;
      font-size: .8rem;
    }
  }
  .tools-main-container{
    
    .tools-popup-information{
      height: 40rem;
    }
    .pop-up{
      height: 30rem;
      width: 40rem;
    }
    .pop-up-description{
      font-size: 1.7rem;
      padding: 3.5rem;
    }
  }
}

@media only screen and (max-width: 518px) {

  .tools-main-container{
    // height: 100%;
  
    .pop-up{
      height: 25rem;
      width: 25rem;
    }
    .pop-up-description{
      font-size: 1.3rem;
    }
  }
 
  .tools-container {
    grid-gap: 1rem;
    .circle {
      height: 9rem;
      width: 9rem;
    }
  }

  .circle-image {
    height: 3.5rem;
    width: 4rem;
  }

  .hide {
    opacity: 1;
    height: auto;
    overflow: hidden;
  }
}

//media query for Height (tools page)
// @media only screen and (max-height: 1009px){
//   #tools {
//     height: 130vh;
    
//   }
// }

// @media only screen and (max-height: 930px){
//   #tools {
//     min-height: 150vh;
    
//   }
// }

// @media only screen and (max-height: 699px){
//   #tools {
//     min-height: 170vh;
//   }
// }

// @media only screen and (max-height: 549px){
//   #tools {
//     min-height: 180vh;
//   }
// }