* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  transition: background-color 1.3s ease-in-out;
  // overflow: hidden;
  position: relative;
  // overflow: hidden;
}

// * {
//   outline: solid 0.25rem rgba(252, 0, 0, 0.5);
// }

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

button {
  outline: none;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.6rem;
  // box-shadow: 0 15px 25px rgba(0, 0, 0, 0.07), 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  // border: 1px solid lightseagreen;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: "Poppins", sans-serif;

}

a {
  text-decoration: none;
  color: black;
}

.dark-mode-background {
  background-color: rgb(31, 30, 30);
  color: white;
}

.nav-container {
  height: 6.5rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.07), 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  // box-shadow: 0 15px 25px rgba(255, 255, 255, 0.07),
  //   0 4px 4px 0 rgba(255, 255, 255, 0.05);
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
  position: sticky;
  top: 0px;
  background-color: white;

  .nav-sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;

    .nav-title {
      cursor: pointer;
      font-family: "Poppins", sans-serif;
      font-size: 2.4rem;
    }

    .nav-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-basis: 60rem;
    }

    .far {
      font-size: 2rem;
      transition: all 1.3s ease-in-out;
    }

    ul {
      list-style: none;
      width: 20rem;
      font-size: 1.7rem;
      cursor: pointer;
    }
  }
}

// mobile dots navigation
.dots-container {
  width: 4.5rem;
  height: 100%;
  display: none;
  grid-template-columns: repeat(3, 5px);
  grid-template-rows: repeat(3, 5px);
  grid-gap: 0.4rem;
  justify-content: center;
  align-items: center;

  .dot-box {
    border: 1px solid black;
    height: 3.5px;
    width: 3.5px;
    border-radius: 50%;
    background-color: black;
    align-self: center;
    justify-self: center;
  }
}

//mobile popup page
.mobile-nav-popup {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  z-index: 2;
}

//Mobile

@media screen and (max-width: 979px) {
  .nav-title {
    text-align: center;
    width: 100%;
  }

  .nav-items {
    text-align: center;
    margin: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  .nav-container {
    .nav-sub-container {
      flex-wrap: nowrap;

      .nav-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .nav-items {
        display: none;
        background-color: aqua;
      }
    }
  }

  .dots-container {
    display: grid;
    cursor: pointer;
  }
}

@import "introduction";
@import "toolsPage";
@import "projects";
@import "contact";
@import 'youtube';
