* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  transition: background-color 1.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  position: relative;
}

button {
  outline: none;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.6rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.dark-mode-background {
  background-color: rgb(31, 30, 30);
  color: white;
}

.nav-container {
  height: 6.5rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.07), 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
}
.nav-container .nav-sub-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}
.nav-container .nav-sub-container .nav-title {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
}
.nav-container .nav-sub-container .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 60rem;
}
.nav-container .nav-sub-container .far {
  font-size: 2rem;
  transition: all 1.3s ease-in-out;
}
.nav-container .nav-sub-container ul {
  list-style: none;
  width: 20rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.dots-container {
  width: 4.5rem;
  height: 100%;
  display: none;
  grid-template-columns: repeat(3, 5px);
  grid-template-rows: repeat(3, 5px);
  grid-gap: 0.4rem;
  justify-content: center;
  align-items: center;
}
.dots-container .dot-box {
  border: 1px solid black;
  height: 3.5px;
  width: 3.5px;
  border-radius: 50%;
  background-color: black;
  align-self: center;
  justify-self: center;
}

.mobile-nav-popup {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  overflow: auto;
}
.mobile-nav-popup li {
  list-style: none;
  font-size: 6rem;
}
.mobile-nav-popup .x-btn {
  position: absolute;
  font-size: 6rem;
  top: 2rem;
  right: 7rem;
  cursor: pointer;
}

@media screen and (max-width: 979px) {
  .nav-title {
    text-align: center;
    width: 100%;
  }

  .nav-items {
    text-align: center;
    margin: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 620px) {
  .nav-container .nav-sub-container {
    flex-wrap: nowrap;
  }
  .nav-container .nav-sub-container .nav-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .nav-container .nav-sub-container .nav-items {
    display: none;
    background-color: aqua;
  }

  .dots-container {
    display: grid;
    cursor: pointer;
  }
}
#introduction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  z-index: 1;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(0, 0, 0), transparent), linear-gradient(rgba(0, 0, 0, 0.1), transparent), url(/images/Mountainsfour.jpg);
  background-size: cover;
}
#introduction-container .introduction-part-one {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90%;
  margin: auto;
  height: 90%;
}
#introduction-container .intro-article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000000;
  flex-basis: 70rem;
}
#introduction-container .intro-name {
  font-size: 4.4rem;
  color: #ffffff;
  padding: 0.5rem;
}
#introduction-container .intro-name span {
  font-size: 6.5rem;
  color: rgb(0, 0, 0);
}
#introduction-container .intro-sub {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
}
#introduction-container .intro-self-memoji {
  flex-basis: 30rem;
  height: 35rem;
  position: relative;
}
#introduction-container .memoji {
  height: 270px;
  width: 270px;
  position: absolute;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
  right: 0px;
  top: 0px;
}

.main-background {
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.introduction-button-container {
  height: 12.5rem;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.introduction-button-container .intro-button {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(129, 129, 129);
  margin-right: 1rem;
  padding: 1.4rem 2.5rem;
}
.introduction-button-container .intro-button:hover {
  box-shadow: none;
  border: 1px solid white;
}
@media only screen and (max-width: 795px) {
  #introduction-container .introduction-part-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
  }
  #introduction-container .intro-name {
    font-size: 3rem;
  }
  #introduction-container .intro-name span {
    font-size: 5rem;
    color: rgb(222, 255, 150);
  }
  #introduction-container .intro-self-memoji {
    margin: auto;
    width: 90%;
  }
  #introduction-container .memoji {
    height: 300px;
    width: 300px;
    width: 100%;
    margin: auto;
    opacity: 0.9;
  }
  #introduction-container .introduction-button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
}
@media only screen and (max-width: 500px) {
  #introduction-container .intro-name {
    font-size: 2.7rem;
  }
  #introduction-container .intro-name span {
    font-size: 3.6rem;
  }
  #introduction-container .intro-sub {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 375px) {
  #introduction-container .intro-sub {
    font-size: 1.3rem;
  }
  #introduction-container .intro-self-memoji {
    margin: auto;
    width: 100%;
  }
  #introduction-container .memoji {
    height: 220px;
    width: 220px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    margin: auto;
  }
}
#tools {
  height: 100vh;
  z-index: 14;
  scroll-margin-top: 6rem;
  margin-bottom: 2.5rem;
}

.mac-circle {
  height: 13px;
  width: 13px;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.tools-main-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tools-main-container .tools-popup-information {
  height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.tools-main-container .pop-up {
  background-color: #ebebeb;
  height: 50rem;
  width: 40rem;
  border-radius: 10px;
  border-top: 38px rgb(107, 106, 106) solid;
  opacity: 0.9;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.tools-main-container .pop-up-description {
  font-size: 2.5rem;
  padding: 3.5rem;
}
.tools-main-container .red {
  top: -25px;
  left: 18px;
  background-color: #ff0000;
}
.tools-main-container .yellow {
  top: -25px;
  left: 43px;
  background-color: #fafe07;
}
.tools-main-container .green {
  top: -25px;
  left: 67px;
  background-color: #1efd00;
}

.tools-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 18vh;
}

.tools-title {
  font-size: 7rem;
}

.tools-sub-title {
  font-size: 1.8rem;
}

.tools-container {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 30rem);
  grid-gap: 1rem;
  flex-grow: 1;
}
.tools-container .circle {
  height: 15.5rem;
  width: 15.5rem;
  background-color: rgb(244, 244, 244);
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 1s;
}
.tools-container .circle:hover {
  background: rgb(244, 244, 244);
  box-shadow: inset 0px 0px 5px #c1c1c1;
  border: none;
}

.circle-image {
  height: 5.5rem;
  width: 5.5rem;
  margin-bottom: 1rem;
}

.html {
  border: 5px solid #fc992c;
}

.css {
  border: 5px solid #0a73b7;
}

.js {
  border: 5px solid #e9c932;
}

.react {
  border: 5px solid #61dbfb;
}

.git {
  border: 5px solid #f05233;
}

.sass {
  border: 5px solid #ce649a;
}

.hide {
  opacity: 0;
  height: 0;
  transition: opacity 1s ease-in-out;
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.circle:hover .hide {
  height: auto;
  opacity: 1;
}

@media only screen and (max-width: 760px) {
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
  }

  #tools {
    height: 100%;
    margin-bottom: 3rem;
  }

  .tools-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 798px) {
  .tools-container {
    width: 39rem;
    height: 43rem;
    grid-template-rows: repeat(3, 13rem);
  }
  .tools-container .circle {
    height: 12rem;
    width: 12rem;
    font-size: 0.8rem;
  }
  .tools-main-container .tools-popup-information {
    height: 40rem;
  }
  .tools-main-container .pop-up {
    height: 30rem;
    width: 40rem;
  }
  .tools-main-container .pop-up-description {
    font-size: 1.7rem;
    padding: 3.5rem;
  }
}
@media only screen and (max-width: 518px) {
  .tools-main-container {
    height: 100%;
  }
  .tools-main-container .pop-up {
    height: 25rem;
    width: 30rem;
  }
  .tools-main-container .pop-up-description {
    font-size: 1.3rem;
  }

  .tools-container {
    grid-gap: 1rem;
  }
  .tools-container .circle {
    height: 9rem;
    width: 9rem;
  }

  .circle-image {
    height: 3.5rem;
    width: 4rem;
  }

  .hide {
    opacity: 1;
    height: auto;
    overflow: hidden;
  }
}
#projects {
  min-height: 170vh;
  background-color: rgb(255, 255, 255);
  scroll-margin-top: 4.5rem;
}

.projects-title-container {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
}

.projects-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  width: 95%;
  margin: auto;
}

.project-window {
  height: 55rem;
  width: 45rem;
  background-color: rgb(255, 251, 251);
  border-radius: 5%;
  border-top: 3.8rem solid rgb(107, 106, 106);
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;
}
.project-window .project-title {
  position: absolute;
  top: -33px;
  margin: auto;
  right: 20px;
  color: white;
  font-size: 2rem;
}
.project-window .red {
  top: -25px;
  left: 18px;
  background-color: #ff0000;
}
.project-window .yellow {
  top: -25px;
  left: 43px;
  background-color: #fafe07;
}
.project-window .green {
  top: -25px;
  left: 67px;
  background-color: #1efd00;
}
.project-window .boxes-button-container {
  position: absolute;
  bottom: 0px;
  height: 21rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 5%;
}

.project-images {
  height: 30rem;
  width: 45rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-boxes {
  height: 55rem;
  width: 35rem;
  background-color: rgb(255, 255, 255);
  justify-self: center;
  border-radius: 5%;
  cursor: pointer;
}

.project-image-container {
  height: 40rem;
  width: 35rem;
  background-size: 180%;
  background-position: cover;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.boxes-sub-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 12rem;
}

.inner-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}

.project-title {
  font-size: 1.3rem;
}

.project-tools-used {
  font-size: 2.1rem;
}

.project-info {
  font-size: 1.5rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  text-align: center;
}

.view-btn, .code-btn {
  background-color: #ffffff;
  border: 2px solid #212121;
  padding: 1.2rem 3rem;
  color: rgb(0, 0, 0);
}
.view-btn:hover, .code-btn:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 959px) {
  #projects {
    min-height: 100vh;
  }

  .project-window {
    height: 45rem;
    width: 35rem;
  }

  .project-images {
    height: 20rem;
    width: 35rem;
  }
}
@media only screen and (max-width: 763px) {
  .projects-title-container {
    height: 18vh;
    font-size: 4.5rem;
  }

  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
  }
}
@media only screen and (max-width: 406px) {
  .project-window {
    height: 40rem;
    width: 30rem;
  }
  .project-window .boxes-button-container {
    height: 18rem;
  }

  .project-images {
    height: 16.5rem;
    width: 30rem;
  }
}
@media only screen and (max-width: 302px) {
  .project-window {
    height: 35rem;
    width: 25rem;
  }
  .project-window .boxes-button-container {
    height: 18.5rem;
  }
  .project-window .project-title {
    font-size: 1.5rem;
    top: -29px;
  }

  .project-images {
    height: 12rem;
    width: 25rem;
  }

  .view-btn, .code-btn {
    padding: 0.7rem 1.15rem;
  }
}
#contact {
  height: 84.5vh;
  scroll-margin-top: 5rem;
  background-color: rgb(237, 237, 237);
}

.contact-container {
  height: 64.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.contact-title {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.contact-title .main-title {
  text-align: center;
  font-size: 7rem;
}
.contact-title .main-sub-title {
  text-align: center;
  font-size: 3rem;
}

form {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input,
textarea {
  font-size: 1.7rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

label {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.6rem;
}

.form-name,
.form-email,
.form-text-area {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.submit-btn {
  width: 98.5%;
  background-color: rgb(123, 123, 123);
  color: white;
  border-radius: 0.9rem;
}

#footer {
  height: 10.5vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footer-copyright {
  font-size: 1.6rem;
  color: black;
  margin: 2rem;
}

@media only screen and (max-width: 746px) {
  .contact-container {
    width: 80%;
  }

  .contact-title .main-title {
    font-size: 5rem;
  }
  .contact-title .main-sub-title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 545px) {
  input,
textarea {
    font-size: 1.3rem;
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.5rem;
  }

  form {
    height: 100px;
  }

  #contact {
    height: 90vh;
    scroll-margin-top: 5rem;
    background-color: rgb(237, 237, 237);
  }

  .contact-container {
    height: 70vh;
    width: 100%;
  }

  .contact-title {
    height: 12.5vh;
  }
  .contact-title .main-title {
    font-size: 3.3rem;
  }
  .contact-title .main-sub-title {
    font-size: 1.3rem;
  }

  form {
    width: 95%;
  }

  #footer {
    height: 8.5vh;
  }
  #footer .footer-copyright {
    font-size: 1.2rem;
  }
}
#youtube {
  height: 100%;
  background-color: rgb(50, 48, 48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  scroll-margin-top: 6rem;
}
#youtube .youtube-title-container {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#youtube .youtube-title-container .title {
  font-size: 7rem;
  color: rgb(255, 255, 255);
}
#youtube .youtube-title-container .sub-title {
  font-size: 1.4rem;
  color: rgb(245, 245, 114);
}
#youtube .youtube-info-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: white;
}
#youtube .youtube-info-container .info {
  font-size: 1.3rem;
}
#youtube .youtube-grid {
  min-height: 100vh;
  cursor: pointer;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
#youtube .youtube-image {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 860px) {
  #youtube {
    height: 95.5vh;
  }
  #youtube .youtube-title-container {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  #youtube .youtube-title-container .title {
    font-size: 7rem;
    color: rgb(255, 255, 255);
  }
  #youtube .youtube-title-container .sub-title {
    font-size: 1.8rem;
    color: rgb(245, 245, 114);
  }
  #youtube .youtube-info-container {
    width: 80%;
    height: 13.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: white;
  }
  #youtube .youtube-info-container .info {
    font-size: 1.6rem;
  }
  #youtube .youtube-grid {
    min-height: 60vh;
    cursor: pointer;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(100px, 300px));
    grid-gap: 1rem;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: none;
    margin-bottom: 4rem;
  }
  #youtube .youtube-image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #youtube .image-one {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #youtube .image-two {
    grid-column: 1/3;
  }
  #youtube .image-three {
    grid-column: 3/5;
  }
  #youtube .image-four {
    grid-column: 5/6;
    grid-row: 2/3;
  }
  #youtube .image-five {
    grid-column: 4/6;
  }
  #youtube .image-six {
    grid-column: 4/6;
    grid-row: 1/2;
  }
  #youtube .image-seven {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  #youtube .image-eight {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #youtube .image-nine {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #youtube .image-one, #youtube a {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
  }
}/*# sourceMappingURL=style.css.map */